@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

:root{
    word-wrap: break-word;
    font-size: .9rem;
    text-align: justify;
    margin: 0 auto;
    background-color: rgb(1, 13, 19);
    color: rgb(223, 223, 223);

    display: flex;
    justify-content: center;
}

.container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80vw;
}

.input-group{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#btn{
    background-color: rgb(163, 124, 32);
    border: none;
    border-radius: 0.5rem;
    width: 15%;
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
    color:#e2e2e2;
    text-transform: uppercase;
    font-weight: 500;
}
#btn:hover{
    background-color: rgb(198, 151, 41);
}

#query-input{
    border: none;
    border-radius: 0.5rem;
    background-color: #e2e2e2;
    padding: 0.5rem;
    width: 70%;
}
#query-input:focus, #result-count:focus{
    outline: none;
}
#query-input::placeholder{
    color: rgba(75, 75, 75, 0.572);
}

#result-count{
    border: none;
    border-radius: 0.5rem;
    background-color: #e2e2e2;
    padding: 0.5rem;
    width: 15%;
}
#result-count::placeholder{
    color: rgba(75, 75, 75, 0.572);
}

#query-output {
    font-weight: 400;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#query-header {
    font-weight: 500;
}

#result-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
}

#result-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#result-title {
    color: rgb(242, 247, 252);
    font-weight: 500;
}

#result-url{
    color: rgb(234, 184, 67);
}
#result-url:visited{
    color: rgb(163, 124, 32);
}

#result-description{
    margin-top: 0.5rem;
    color: #d6d5d5df;
}